@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-SemiBold.ttf");
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/*thunderstorms*/
.clouds {
    background-image: linear-gradient(180deg,
            rgb(46, 46, 46)25%,
            rgb(85, 85, 85)60%,
            rgb(130, 130, 130)85%,
            rgb(180, 180, 180)100%);
}

.rain {
    background-image: linear-gradient(rgba(57, 171, 202, 0.753)55%, rgba(255, 255, 255, 0.747));
}

.thunderstorms {
    background-image: linear-gradient(200deg,
            rgb(3, 66, 85) 25%,
            rgb(14, 96, 115) 50%,
            rgb(25, 126, 145) 75%,
            rgb(36, 156, 175) 100%);
}

.icon {
    width: 464px;
    height: 464px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#weathermain,
#weatherdescription {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 36px;
}

#weathermain {
    font-weight: 700;
    font-size: 72px;
}